@import "variables.styl"
@import "fonts.styl"

@import '~quasar/src/css/variables.styl'
@import '~quasar/dist/quasar.styl'
@import '~@quasar/extras/material-icons/material-icons.css'
@import '~@quasar/extras/mdi-v3/mdi-v3.css'

@import "quasar-custom-colors.styl"
@import "custom.styl"
@import "base.styl"
@import "headers.styl"
@import "input.styl"
